.profile-basic
	&__form
		padding: 12px 0
	&__row
		padding: 0 12px
		@media (max-width: $breakpoint-medium-max)
			flex-wrap: wrap
		@media (max-width: $breakpoint-small-max)
			padding: 0
	&__actions
		padding: 24px
