include ../card/card

mixin profile-picture(name, location, userLocalTime, image)
	+card('profile-picture')
		.profile-picture__info
			div.profile-picture__text(class='uk-width-1-2@m uk-width-1-1')
				h2.profile-picture__name= name
				p.profile-picture__location= location
				p.profile-picture__timezone= userLocalTime
			div(class='uk-width-1-2@m uk-width-1-1')
				img.profile-picture__image(src=image, alt='')
		.profile-picture__actions
			button.profile-picture__button.profile-picture__button_color_primary Upload picture
			button.profile-picture__button Remove picture
