include ../../components/tabs/tabs
include ../../components/profile-picture/profile-picture
include ../../components/profile-basic/profile-basic
include ../../components/sidebar/sidebar
include ../../components/profile-notifications/profile-notifications

- var tabList = ['Profile', 'Account', 'Price Plans']
-
	var user = {
		firstname: 'Adrian',
		lastname: 'Stefan',
		location: 'Rm. Valcea, Romania',
		userLocalTime: '4:32PM (GMT-4)',
		image: 'https://eu.ui-avatars.com/api/?size=512',
		email: 'adrian_shp@yahoo.com',
		phone: '+78005553535',
		country: 'Romania',
		city: 'Ramnicu Valcea',
		notifications: {
			'Email': false,
			'Push notifications': true,
			'Text Messages': true,
			'Phone Calls': true,
		},
		messages: {
			'Email': false,
			'Push Notifications': false,
			'Text Messages': false,
		},
	}

.settings
	+sidebar('settings__sidebar')
	.settings__offcanvas
		include ../../components/offcanvas/offcanvas
	.settings__content
		+tabs(tabList, 'settings-tabs')
		ul.uk-switcher
			li.uk-container
				div(class='uk-flex-center settings__tab', data-uk-grid)
					div(class='uk-width-1-1 uk-width-2-3@m uk-width-1-3@l')
						+profile-picture(
							user.firstname + ' ' + user.lastname,
							user.location,
							user.userLocalTime,
							user.image
						)
					div(class='uk-width-1-1 uk-width-2-3@m uk-width-2-3@l')
						div.uk-margin-bottom
							+profile-basic(
								user.firstname,
								user.lastname,
								user.email,
								user.phone,
								user.country,
								user.city
							)
						div
							+profile-notifications(user.notifications, user.messages)
