$button-padding-horizontal: 16px
$button-primary-background: $global-secondary-background
$button-primary-hover-background: darken($button-primary-background, 12%)
$button-text-color: #425A70
$button-disabled-background: rgba(0, 0, 0, 0.12)
$button-disabled-color: rgba(0, 0, 0, 0.26)
