@mixin hook-form
	border: 1px solid rgba(0, 0, 0, 0.32)
	border-radius: 4px
	background-color: inherit
	transition: border-color .2s ease
	&:hover
		border-color: rgba(0, 0, 0, 0.9)
@mixin hook-form-focus
	border: 2px solid $global-secondary-background
@mixin hook-form-radio
	border: 2px solid #425A70
	border-radius: 2px
@mixin hook-form-radio-checked
	border: none
@mixin hook-form-radio-focus
	background-color: lighten($global-secondary-background, 40%)
