include ../hamburger-button/hamburger-button

header.header
	a.header__main-page(href='/')
		img.header__logo(src='/assets/logo.svg', alt='Logo')
		p.header__company-name Devias Kit
	.header__nav-actions
		button.header__action.header__action_hide_m: img(src='/assets/bell.svg', alt='Notifications')
		button.header__action.header__action_hide_m: img(src='/assets/signout.svg', alt='Sign out')
		+hamburger-button()(class='hamburger header__action header__action_show_m')
